<% include ../partials/header %>
<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand"> Piper </h3>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="inner cover">
<% if(data) { %>
    <div class="has-success">
        <h2> Successful... You will receive a notification on slack.</h2>
        <p> You can now close this page.</p>
    </div>
<% } else { %>
    <div class="has-error">
        <h2> Error During Authorization.</h2>
        <p> Please start the process again by clicking the back button or Contact one of our administrator.</p>
    </div>
<% } %>
</div>
<% include ../partials/footer %>