<section id="wrapper">
    <header>
      <h1>Thank you</h1>
    </header>
    <meta name="viewport" content="width=620" />


  <footer><span id="closure">Close this window to return to your chat</span></footer>
</section>
