<% include ../partials/header %>
<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand"> Piper </h3>
        <nav>
            <ul class="nav masthead-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
    </div>
</div>

<div class="inner cover">
    <div class="has-success">
        <h2> Successful</h2>
        <p>You will receive a notification on slack.</p>
        <% if(response){ %>
        <div class="response">
            <%= response %>
        </div>
        <% } %>
        <p> You can now close this page.</p>
    </div>
</div>
<% include ../partials/footer %>