
<div class="mastfoot">
    <div class="inner">
        <p>C2g Consulting <a href="http://piperlabs.com"> Piper </a>, by <a href="https://twitter.com/piper">@piperlabs</a>.</p>
    </div>
</div>

</div>

</div>

</div>
<script src='/js/jquery.min.js'></script>
<script src='/js/bootstrap.min.js'></script>

</body>
</html>
